/* only things we modify aesthetically are our pane and borderpane */

/* set the background image of the pane, and modify it a little */
/*
.pane{
    -fx-background-image:url('coffee.jpg');
    -fx-background-repeat: stretch;
    -fx-background-size: 1050 730;
    -fx-background-position: center center;
    -fx-background-repeat: repeat;
    -fx-pref-width: 1050;
    -fx-pref-height: 730;
}
 */

.anchorpane{
    -fx-background-image: url('background.jpeg');
    -fx-background-repeat: repeat;
    -fx-background-size: 770 472;
    -fx-background-position: center center;
}